---
layout: base.html
active: music
pagination:
    data: shop
    size: 1
    alias: shopitem
permalink: "/shop/{{ shopitem.id }}/"
---

<script>
	document.title = "{{ shopitem.name }} \\ Shop \\ Oliver Norred"
</script>

<link rel="preconnect" href="https://app.snipcart.com">
<link rel="preconnect" href="https://cdn.snipcart.com">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />
<link rel="stylesheet" href="/css/snipcartcustom.css">

<link rel="stylesheet" href="/css/shop.css">

<div id="backtoshop">
	<a href="/shop/">&larr; back to shop</a>
</div>

{%- for image in shopitem.images %}
	{%- if forloop.first == true %}
		{% assign firstimage = image %}
	{%- endif %}
{%- endfor %}
<article class="itemlisting">

	<div class="itemimage">
		<img src="{{ firstimage }}" id="item-bigimage" alt="">
		<div class="itemgallery">
			{%- for image in shopitem.images %}
				<button class="gallerybutton" data-srcsend="{{ image }}">
					<img src="{{ image }}"></img>
				</button>
			{%- endfor %}
		</div>
		<script>
			// SWAP MAIN IMAGE
			const gallerybtns = document.querySelectorAll(".gallerybutton")
			gallerybtns[0].classList.add('showing')
			gallerybtns.forEach(btn => {
				btn.addEventListener("click", ()=>{
					document.querySelector('#item-bigimage').src=btn.getAttribute('data-srcsend')
					gallerybtns.forEach(b => {
						b.classList.remove('showing')
					})
					btn.classList.add('showing')
				})
			})
		</script>
	</div>
	<section class="iteminfo">
		<h1 class="itemname">{{ shopitem.name }}</h1>
		<p class="itemdescription">{{ shopitem.description }}</p>

		

		<div id="price-and-button">
			<button class="snipcart-add-item checkout-button"
				data-item-id="{{ shopitem.id }}"
				data-item-price="{{ shopitem.price }}"
				data-item-url="/shop/{{ shopitem.id }}"
				data-item-description="{{ shopitem.description }}"
				data-item-image="{{ firstimage }}"
				data-item-name="{{ shopitem.name }}"
				data-item-custom1-name="Size"
				data-item-custom1-options="S|M|L|XL"
				data-item-max-quantity="1"
				data-item-stackable="never">
				add to basket :)
			</button>
			<h2 class="itemprice">${{ shopitem.price }}</h2>

		</div>

	</section>
</article>



<script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
<div id="snipcart" data-api-key="MjBhODQzNGEtODhmMC00MTUxLWI0ZDAtNmU3ZTZjMTJiYTk2NjM3NjYzMjA1MDM5NDAwNTcz" hidden></div>



