---
layout: base.html
pagination:
    data: shop
    size: 1
    alias: shopitem
permalink: "/shop/{{ shopitem.id }}/"
---

<script>
	document.title = "{{ shopitem.name }} \\ Shop \\ Oliver Norred"
</script>

<link rel="preconnect" href="https://app.snipcart.com">
<link rel="preconnect" href="https://cdn.snipcart.com">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />

<link rel="stylesheet" href="/css/shop.css">

<article class="itemlisting">
	<div class="itemimage">
		<img src="{{ shopitem.image }}"></img>
	</div>
	<section class="iteminfo">
		<h1 class="itemname">{{ shopitem.name }}</h1>
		<h2 class="itemprice">${{ shopitem.price }}</h2>
		<p class="itemdescription">{{ shopitem.description }}</p>

		<button class="snipcart-add-item checkout-button"
			data-item-id="{{ shopitem.id }}"
			data-item-price="{{ shopitem.price }}"
			data-item-url="/shop/{{ shopitem.id }}"
			data-item-description="{{ shopitem.description }}"
			data-item-image="{{ shopitem.image }}"
			data-item-name="{{ shopitem.name }}"
			data-item-custom1-name="Size"
			data-item-custom1-options="S|M|L|XL">
			CHECKOUT
		</button>

	</section>
</article>

<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>


<script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="MjBhODQzNGEtODhmMC00MTUxLWI0ZDAtNmU3ZTZjMTJiYTk2NjM3NjYzMjA1MDM5NDAwNTcz" hidden></div>



